<!-- SECTION 1 - Featured -->
<section class="story-section">
    <div class="section-header">
        <h2>Öne Çıkanlar</h2>
        <a href="#">Tümünü Gör</a>
    </div>

    <div class="carousel-container">
        <button class="nav-btn prev">&#10094;</button>

        <div class="carousel">
            <div class="story-card">
                <img src="https://i.pinimg.com/1200x/9d/43/de/9d43de7e6617ea55388d7e8c7ac1b4ff.jpg">
                <div class="overlay">
                    <span class="tag">Romantizm</span>
                    <span class="views">👁 378K</span>
                </div>
            </div>

            <div class="story-card">
                <img src="https://i.pinimg.com/1200x/5b/6d/04/5b6d04aa1bba2fcb64cc1c7e6e529bbe.jpg">
                <div class="overlay">
                    <span class="tag">Genç Kurgu</span>
                    <span class="views">👁 530K</span>
                </div>
            </div>

            <div class="story-card">
                <img src="https://i.pinimg.com/1200x/5b/6d/04/5b6d04aa1bba2fcb64cc1c7e6e529bbe.jpg">
                <div class="overlay">
                    <span class="tag">Romantik</span>
                    <span class="views">👁 243K</span>
                </div>
            </div>
        </div>

        <button class="nav-btn next">&#10095;</button>
    </div>
</section>

<section class="story-section">
    <div class="section-header">
        <h2>Öne Çıkanlar</h2>
        <a href="#">Tümünü Gör</a>
    </div>

    <div class="carousel-container">
        <button class="nav-btn prev">&#10094;</button>

        <div class="carousel">
            <div class="story-card">
                <img src="https://i.pinimg.com/1200x/9d/43/de/9d43de7e6617ea55388d7e8c7ac1b4ff.jpg">
                <div class="overlay">
                    <span class="tag">Romantizm</span>
                    <span class="views">👁 378K</span>
                </div>
            </div>

            <div class="story-card">
                <img src="https://i.pinimg.com/1200x/5b/6d/04/5b6d04aa1bba2fcb64cc1c7e6e529bbe.jpg">
                <div class="overlay">
                    <span class="tag">Genç Kurgu</span>
                    <span class="views">👁 530K</span>
                </div>
            </div>

            <div class="story-card">
                <img src="https://i.pinimg.com/1200x/5b/6d/04/5b6d04aa1bba2fcb64cc1c7e6e529bbe.jpg">
                <div class="overlay">
                    <span class="tag">Romantik</span>
                    <span class="views">👁 243K</span>
                </div>
            </div>
        </div>

        <button class="nav-btn next">&#10095;</button>
    </div>
</section>



<section class="story-section">
    <div class="section-header">
        <h2>Okumaya Devam et</h2>
        <a href="#">Tümünü Gör</a>
    </div>

    <div class="carousel-container">
        <button class="nav-btn prev">&#10094;</button>

        <div class="carousel">
            <div class="story-card">
                <img src="https://i.pinimg.com/1200x/9d/43/de/9d43de7e6617ea55388d7e8c7ac1b4ff.jpg">
                <div class="overlay">
                    <span class="tag">Devam et</span>
                    <span class="views">👁 378K</span>
                </div>
            </div>

            <div class="story-card">
                <img src="https://i.pinimg.com/1200x/5b/6d/04/5b6d04aa1bba2fcb64cc1c7e6e529bbe.jpg">
                <div class="overlay">
                    <span class="tag">Yeniden oku</span>
                    <span class="views">👁 530K</span>
                </div>
            </div>

            <div class="story-card">
                <img src="https://i.pinimg.com/1200x/5b/6d/04/5b6d04aa1bba2fcb64cc1c7e6e529bbe.jpg">
                <div class="overlay">
                    <span class="tag">Romantik</span>
                    <span class="views">👁 243K</span>
                </div>
            </div>
        </div>

        <button class="nav-btn next">&#10095;</button>
    </div>
</section>

