@using Eat.ViewModels.Product
@model CreateProductVM

<form asp-area="admin" asp-action="create" asp-controller="Product">
    <div class="form-group">
        <label asp-for="Name">Category</label>
        <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Category">
    </div>

    <div>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))"></select>

    </div>


    <div class="form-group">
        <label asp-for="File">Image</label>
        <input asp-for="File" type="file" class="form-control" placeholder="Enter Image">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>