.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

/* HEADER */
.header {
  background-color: var(--color-light);
  padding: var(--spacing-md) 0;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HERO */
.hero {
  background-color: var(--color-bg);
  padding: 80px 0;
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}
