@using Eat.ViewModels.Account
@{
    Layout=null;
}
@model LoginVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/components.css">

    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>

    <div class="login-container">

        <!-- LEFT SIDE -->
        <div class="login-left">
            <h1>Welcome Back</h1>
            <p>
                Continue your journey in StoryVerse.
            </p>
        </div>

        <!-- RIGHT SIDE -->
        <div class="login-right">

            <div class="login-box">
                <h2>Sign In</h2>

                <form  method="POST" asp-controller="account" asp-action="login">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for="UserName">Username</label>
                        <input asp-for="UserName" type="text" required>

                    </div>

                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for=Password type="password" required>
                    </div>

                    <div class="form-options">
                        <label class="remember">
                            <input type="checkbox" name="RememberMe">
                            Remember Me
                        </label>
                    </div>

                    <button type="submit" class="btn-login">
                        Login
                    </button>

                </form>

                <div class="register-link">
                    Don’t have an account?
                    <a asp-controller="Account" asp-action="Register">Create Account</a>
                </div>

            </div>

        </div>

    </div>

    <script src="~/js/login.js"></script>
</body>
</html>
