@using Eat.ViewModels.Category
@model CreateCategoryVM

<form asp-area="admin" asp-action="create" asp-controller="category">
    <div class="form-group">
        <label asp-for="Name">Category</label>
        <input  asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Category">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>